@tailwind base;
@tailwind components;
@tailwind utilities;

html{
background-color: #F5F6FE;
  color:#020422;
}
.blue {
color: #788ae3;
}
.rose {

color: #EFB3DB;
}
.garden{
color: #8fd482;
}
.custom-underline{
border-color: #788ae3;
}
p{
padding-bottom: 1.5rem;
}
h1, h2{
font-family: 'Comfortaa', cursive;
}
.navigate{
text-align: center;
}
.nav-blue{
  background-color: #788ae3;
  width: fit-content;
}
.nav-rose{
  background-color:#EFB3DB;
  width: fit-content;
}
.nav-garden{
  background-color: #8fd482;
  width: fit-content;
}
a{
font-family: 'Comfortaa', cursive;
  font-weight: extra-bold;
}
